.Aheader_logo{
    height: 32px;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: 20px; 
    background: rgba(255, 255, 255, 0.3); 
}